# Ignore all files
*
!*/
!*/.gitkeep

# gitignore
!.gitignore

# CMakeLists
!CMakeLists.txt

# README.md
!README.md

# Docs
!docs/README.md

# Resources
!data/**

# External libraries
!external/**

# Source code and headres
!src/*.cpp
!include/*.hpp
!src/ui/*.cpp
!include/ui/*.hpp